.admintabs{
  padding-top: 100px;
}
.tab1{
  width:max-content;
}

.mat-table {
  width: 100%;
}

.mat-header-cell,
.mat-cell {
  padding: 10px;
}

.mat-header-row {
  background-color: #e0e0e0;
}

.mat-row:nth-child(even) {
  background-color: #f5f5f5;
}

.mat-row:hover {
  background-color: #e8f0fe;
}
.table-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5px;

}

.center-table {
  display: flex;
  justify-content: center;
}
.colname
{
  background-color: #006E74 !important;
  color: white;
}


  .header-cell {
    background-color: #006E74 !important;
    color: white;
    border: 1px solid rgba(0, 0, 0, 0.477);
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.429);
    position: sticky;
    top: 0;
    z-index: 1;
  }
  .td-row{
    border:1px solid rgba(0, 0, 0, 0.477) !important ;
    overflow-x: auto;
    white-space: nowrap;
    padding-top: 10px;
  }

  .add-form {
    display: inline-block;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    max-width: 250px;
    margin-top: 16px;
    position: fixed;
  }

  .add-form h3 {
    margin-top: 0;
  }

  .form-actions {
    margin-top: 16px;
    text-align: left;
  }

  .form-actions button {
    margin-left: 8px;
  }

.add-button {
  display: flex;
  justify-content: flex-start;

}

.search-bar {
  display: flex;
  justify-content: center;
}
.firstrow{
  padding-top: 50px;
}
.center-table {

  overflow-y: auto;

}
#reset{
  padding-left: 20px;
}
