.full-width {
    width: 100%;
  }
  .row {
    display: flex;
    flex-direction: row;
  }

  .col {
    flex: 1;
    margin-right: 20px;
  }

  .col:last-child {
    margin-right: 0;
  }

  @media (max-width: 767px) {
    .row {
      flex-direction: column;
      display: flex;
    }

    .col {
      flex: 1;
      margin-right: 0;
      margin-bottom: 0px;
    }

    .col:last-child {
      margin-bottom: 0;
    }
  }


  .sodetailsheader{
    justify-content: center;
    padding: 10px;
  }
.actions-cell {
  display: flex;
  justify-content:center ;
  align-items: center;

}
.actions-container
{
  justify-content: center;
  text-align: center;
  display: flex;
  gap: 10px;
}
.solistbody
{

padding-left: 50px;
padding-right: 50px;
  padding-top: 80px;
}
