<div class="search-bar-responsive" >
  <mat-form-field appearance="outline">
    <input matInput  [(ngModel)]="searchSoData" placeholder="Search " (keyup)="applyFilterSoData()">
    <mat-icon matSuffix *ngIf="searchSoData ==''">search</mat-icon>
    <mat-icon matSuffix   (click)="clearSearchInput()" *ngIf="searchSoData !=''">cancel</mat-icon>
  </mat-form-field>
</div>
<div class="row-container">
        <div class="search-bar" >
          <mat-form-field appearance="outline">
            <input matInput  [(ngModel)]="searchSoData" placeholder="Search " (keyup)="applyFilterSoData()">
            <mat-icon matSuffix *ngIf="searchSoData ==''">search</mat-icon>
            <mat-icon matSuffix   (click)="clearSearchInput()" *ngIf="searchSoData !=''">cancel</mat-icon>
          </mat-form-field>
        </div>

      <div class="centered-buttons" >
        <button mat-raised-button  id="toggle" (click)="toggleFormVisibility()" >
          <mat-slide-toggle   id="filcol" >
            <span  id="filcol">Group Filter</span>
          </mat-slide-toggle>

        </button>
        <button mat-raised-button  id="toggle" (click)="DownloadExcel()">
          <mat-icon  id="filcol">file_download</mat-icon>
         <span id="filcol">Download SO</span>
        </button>

        <button mat-raised-button id="toggle" routerLink="/soList" routerLinkActive="active">
          <mat-icon id="filcol">add</mat-icon>
          <span id="filcol">Add SO</span>
        </button>

        <button mat-raised-button id="toggle"  (click)="fileInput.click()">
          <mat-icon id="filcol">insert_drive_file</mat-icon>
        <span id="filcol">Upload SO Excel</span>
          <input type="file" (change)="addfile($event)" accept=".csv,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" style="display: none;" #fileInput>
        </button>

      </div>



</div>

<form [formGroup]="SowForm" *ngIf="isFormVisible" class="filter-form">

  <mat-card class="filter-card">

    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width" appearance="outline">
            <input #soName matInput placeholder="SoName" (keyup)="applyFilter()" formControlName="soName">
            <mat-icon *ngIf="soName.value" matSuffix color="warn" (click)="inputClear(['soName'])">close</mat-icon>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width" appearance="outline">
            <input #jrCode matInput placeholder="JRCode" (keyup)="applyFilter()" formControlName="jrCode">
            <mat-icon *ngIf="jrCode.value" matSuffix color="warn" (click)="inputClear(['jrCode'])">close</mat-icon>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width" appearance="outline">

            <mat-select #accountName  placeholder="Account" formControlName="accountId" (selectionChange)="applyFilter()">
              <mat-option [value]=" ">None</mat-option>

              <mat-option  *ngFor="let acc of accountList" [value]="acc.accountId">{{acc.accountName}}</mat-option>

            </mat-select>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="daterange" appearance="outline">
            <mat-label>Date Range</mat-label>
            <mat-date-range-input [rangePicker]="picker">
              <input matStartDate placeholder="Start date"  formControlName="fromDate">
              <input #date matEndDate placeholder="End date" (dateChange)="applyFilter()" formControlName="endDate">
            </mat-date-range-input>

            <mat-datepicker-toggle *ngIf="!date.value" matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
            <mat-icon *ngIf="date.value" matSuffix color="warn" (click)="[inputClear(['fromDate']),inputClear(['endDate'])]">close</mat-icon>
          </mat-form-field>
        </div>


        <div class="col">
          <mat-form-field class="tech" appearance="outline">
            <mat-select placeholder="Technology" formControlName="technologyId" (selectionChange)="applyFilter()">
              <mat-option [value]=" ">None</mat-option>
              <mat-option *ngFor="let tech of technologyList" [value]="tech.technologyId">{{tech.technologyName}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width" appearance="outline">
            <input #role matInput placeholder="Role" formControlName="role" (keyup)="applyFilter()">
            <mat-icon *ngIf="role.value" matSuffix color="warn" (click)="inputClear(['role'])">close</mat-icon>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="band" appearance="outline">
            <mat-select placeholder="Region" formControlName="regionId" (selectionChange)="applyFilter()">
              <mat-option [value]=" ">None</mat-option>
              <mat-option *ngFor="let region of regionList" [value]="region.regionId">{{region.region}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width" appearance="outline">
            <mat-select placeholder="Location" formControlName="locationId" (selectionChange)="applyFilter()">
              <mat-option [value]=" ">None</mat-option>
              <mat-option *ngFor="let location of locationList" [value]="location.locationId">{{location.location}}</mat-option>

            </mat-select>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width-poc" appearance="outline">
            <mat-select placeholder="USTPOC" formControlName="ustpocId" (selectionChange)="applyFilter()">
              <mat-option [value]=" ">None</mat-option>
              <mat-option *ngFor="let poc of ustPocList" [value]="poc.ustpocId">{{poc.ustpocName}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="row">

        <div class="col">
          <mat-form-field class="full-width1" appearance="outline">
            <mat-select placeholder="Recruiter" formControlName="recruiterId" (selectionChange)="applyFilter()">
              <mat-option [value]=" ">None</mat-option>
              <mat-option *ngFor="let rec of recruiterList" [value]="rec.recruiterId">{{rec.recruiterName}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width1" appearance="outline">
            <mat-select placeholder="USTTPM" formControlName="usttpmId" (selectionChange)="applyFilter()">
              <mat-option [value]=" ">None</mat-option>
              <mat-option *ngFor="let tpm of ustTpmList" [value]="tpm.usttpmId">{{tpm.usttpmName}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width1" appearance="outline">
            <mat-select placeholder="DellManager" formControlName="dellManagerId" (selectionChange)="applyFilter()">
              <mat-option [value]=" ">None</mat-option>
              <mat-option *ngFor="let dell of dellManagerList" [value]="dell.dellManagerId">{{dell.dellManagerName}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width-status" appearance="outline">
            <mat-select placeholder="Status" formControlName="statusId" (selectionChange)="applyFilter()">
              <mat-option [value]=" ">None</mat-option>
              <mat-option *ngFor="let status of statusList" [value]="status.statusId">{{status.statusName}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="band" appearance="outline">
            <input matInput placeholder="Band" formControlName="band" (keyup)="applyFilter()">
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width" appearance="outline">
            <input matInput placeholder="ProjectId" formControlName="projectId" (keyup)="applyFilter()">
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width2" appearance="outline">
            <input matInput placeholder="AccountManager" formControlName="accountManager" (keyup)="applyFilter()">
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width-inex" appearance="outline">
            <input matInput placeholder="External" formControlName="externalResource" (keyup)="applyFilter()">
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width-inex" appearance="outline">
            <input matInput placeholder="Internal" formControlName="internalResource" (keyup)="applyFilter()">
          </mat-form-field>
        </div>


      </div>
      <div class="resetFiltersAndClose">
        <button   mat-raised-button  color="primary"  (click)="ClearFilter()" >  <mat-icon>autorenew</mat-icon>Reset Filters</button>
        <button   mat-raised-button  color="warn"  (click)="resetAndCloseFilter()" >  <mat-icon>refresh</mat-icon>Reset Filters & Close</button>
      </div>



    </mat-card-content>

  </mat-card>
</form>


  <div class="table-options">
    <div class="table-container">
      <table mat-table [dataSource]="dataSource"   matSort>
        <ng-container matColumnDef="soName" >
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="header-cell">SO Name</th>
          <td mat-cell *matCellDef="let row" class="td-row" >
            <ng-container *ngIf=" !row.isEditing">
              {{ row.soName }}
            </ng-container>
            <ng-container *ngIf="row.isEditing">
              <mat-form-field appearance="outline" >
                <mat-label>SO Name</mat-label>
                  <input matInput [(ngModel)]="row.soName" [value]="row.soName" type="text">
              </mat-form-field>
            </ng-container>
          </td>
        </ng-container>

        <ng-container matColumnDef="jrCode">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="header-cell">JRCode</th>
          <td mat-cell *matCellDef="let row" class="td-row" >
            <ng-container *ngIf=" !row.isEditing">
              {{ row.jrCode }}
            </ng-container>
            <ng-container *ngIf=" row.isEditing">
              <mat-form-field appearance="outline">
                <mat-label>JR Code</mat-label>
                <input matInput [(ngModel)]="row.jrCode" type="text">
              </mat-form-field>
            </ng-container>
          </td>
        </ng-container>
        <ng-container matColumnDef="requestCreationDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="header-cell">Request Creation Date</th>
          <td mat-cell *matCellDef="let row" class="td-row" >
            <ng-container *ngIf="!row.isEditing">
              {{ row.requestCreationDate | date:'dd/MM/yyyy' }}
            </ng-container>

            <ng-container *ngIf=" row.isEditing">
              <mat-form-field appearance="outline">
                <mat-label>Request Creation Date</mat-label>
                <input matInput [matDatepicker]="picker" [(ngModel)]="row.requestCreationDate" >
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>


            </ng-container>
          </td>
        </ng-container>


        <ng-container matColumnDef="account">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="header-cell">Account</th>
          <td mat-cell *matCellDef="let row" class="td-row" >
            <ng-container *ngIf="!row.isEditing">
              {{ row.accountName }}
            </ng-container>
            <ng-container *ngIf=" row.isEditing">
              <mat-form-field appearance="outline">
                <mat-label>Account</mat-label>
                <mat-select placeholder="Select an Account" [(ngModel)]="row.accountId">
                  <mat-option *ngFor="let acc of accountList" [value]="acc.accountId">
                    {{ acc.accountName }}
                  </mat-option>
                </mat-select>
              </mat-form-field>

            </ng-container>
          </td>
        </ng-container>

        <ng-container matColumnDef="technologyName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="header-cell">Technology</th>
          <td mat-cell *matCellDef="let row" class="td-row" >
            <ng-container *ngIf=" !row.isEditing">
              {{ row.technologyName }}
            </ng-container>
            <ng-container *ngIf=" row.isEditing">
              <mat-form-field appearance="outline">
                <mat-label>Technology</mat-label>
                <mat-select placeholder="Select a Technology" [(ngModel)]="row.technologyId">
                  <mat-option *ngFor="let tech of technologyList" [value]="tech.technologyId">
                    {{ tech.technologyName }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </ng-container>
          </td>
        </ng-container>


        <ng-container matColumnDef="role">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="header-cell"> Role </th>
          <td mat-cell *matCellDef="let row" class="td-row"  >

             <ng-container *ngIf=" !row.isEditing">
               {{row.role}}
              </ng-container>
             <ng-container *ngIf=" row.isEditing" >
              <mat-form-field appearance="outline">
                <mat-label>Role</mat-label>
                <input matInput [(ngModel)]="row.role" type="text">
              </mat-form-field>

            </ng-container>

            </td>
        </ng-container>

        <ng-container matColumnDef="region">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="header-cell"> Region </th>
          <td mat-cell *matCellDef="let row" class="td-row" >
            <ng-container *ngIf=" !row.isEditing">
              {{row.region}}
            </ng-container>
            <ng-container *ngIf=" row.isEditing">
              <mat-form-field class="full-width" appearance="outline">
                <mat-label>Region</mat-label>
                <mat-select placeholder="Enter Region"  [(ngModel)]="row.regionId">
                  <mat-option *ngFor="let region of regionList" [value]="region.regionId">
                    {{region.region}}
                  </mat-option>
                </mat-select>
              </mat-form-field>

            </ng-container>
          </td>
        </ng-container>
        <ng-container matColumnDef="location">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="header-cell">Location</th>
          <td mat-cell *matCellDef="let row" class="td-row" >
            <ng-container *ngIf=" !row.isEditing">
              {{ row.location }}
            </ng-container>
            <ng-container *ngIf=" row.isEditing">
              <mat-form-field class="full-width" appearance="outline">
                <mat-label>Location</mat-label>
                <mat-select placeholder="Select the Location" [(ngModel)]="row.locationId">
                  <mat-option *ngFor="let location of locationList" [value]="location.locationId">
                    {{ location.location }}
                  </mat-option>
                </mat-select>
              </mat-form-field>

            </ng-container>
          </td>
        </ng-container>


        <ng-container matColumnDef="targetOpenPositions">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="header-cell"> Target Open Positions </th>
          <td mat-cell *matCellDef="let row" class="td-row" >
            <ng-container *ngIf=" !row.isEditing">
               {{row.targetOpenPositions}}
            </ng-container>
           <ng-container  *ngIf=" row.isEditing">
          <mat-form-field appearance="outline">
            <mat-label>Target Open Positions</mat-label>
            <input matInput [(ngModel)]="row.targetOpenPositions" type="text">
          </mat-form-field>
        </ng-container>

          </td>
        </ng-container>


        <ng-container matColumnDef="positionsTobeClosed">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="header-cell"> Positions To be Closed </th>
          <td mat-cell *matCellDef="let row" class="td-row"  >

            <ng-container *ngIf=" !row.isEditing">  {{row.positionsTobeClosed}}</ng-container>
            <ng-container  *ngIf="row.isEditing">
              <mat-form-field appearance="outline">
                <mat-label>Positions To be Closed</mat-label>
                <input matInput [(ngModel)]="row.positionsTobeClosed" type="text">
              </mat-form-field>
            </ng-container>

          </td>
        </ng-container>

        <ng-container matColumnDef="ustpocName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="header-cell">UST POC</th>
          <td mat-cell *matCellDef="let row" class="td-row" >
            <ng-container  *ngIf=" !row.isEditing">
              {{ row.ustpocName }}
            </ng-container>
            <ng-container *ngIf=" row.isEditing">
              <mat-form-field class="full-width" appearance="outline">
                <mat-label>UST POC</mat-label>
                <mat-select placeholder="Enter UST POC" [(ngModel)]="row.ustpocId">
                  <mat-option *ngFor="let poc of ustPocList" [value]="poc.ustpocId">
                    {{ poc.ustpocName }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </ng-container>
          </td>
        </ng-container>


        <ng-container matColumnDef="recruiterName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="header-cell">Recruiter</th>
          <td mat-cell *matCellDef="let row" class="td-row">
            <ng-container *ngIf=" !row.isEditing">
              {{ row.recruiterName }}
            </ng-container>
            <ng-container *ngIf=" row.isEditing">
              <mat-form-field class="full-width" appearance="outline">
                <mat-label>Recruiter</mat-label>
                <mat-select placeholder="Enter Recruiter" [(ngModel)]="row.recruiterId">
                  <mat-option *ngFor="let rec of recruiterList" [value]="rec.recruiterId">
                    {{ rec.recruiterName }}
                  </mat-option>
                </mat-select>
              </mat-form-field>

            </ng-container>
          </td>
        </ng-container>


        <ng-container matColumnDef="usttpmName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="header-cell">UST TPM Name</th>
          <td mat-cell *matCellDef="let row" class="td-row" >
            <ng-container *ngIf="!row.isEditing">
              {{ row.usttpmName }}
            </ng-container>
            <ng-container *ngIf="row.isEditing">
              <mat-form-field class="full-width" appearance="outline">
                <mat-label>USTTPM</mat-label>
                <mat-select placeholder="Select the USTTPM" [(ngModel)]="row.usttpmId">
                  <mat-option *ngFor="let tpm of ustTpmList" [value]="tpm.usttpmId">
                    {{ tpm.usttpmName }}
                  </mat-option>
                </mat-select>
              </mat-form-field>

            </ng-container>
          </td>
        </ng-container>

        <ng-container matColumnDef="dellManagerName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="header-cell">Dell Manager</th>
          <td mat-cell *matCellDef="let row" class="td-row" >
            <ng-container  *ngIf=" !row.isEditing">
              {{ row.dellManagerName }}
            </ng-container>
            <ng-container *ngIf=" row.isEditing">
              <mat-form-field class="full-width" appearance="outline">
                <mat-label>Dell Manager</mat-label>
                <mat-select placeholder="Enter Dell Manager" [(ngModel)]="row.dellManagerId">
                  <mat-option *ngFor="let dell of dellManagerList" [value]="dell.dellManagerId">
                    {{ dell.dellManagerName }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </ng-container>
          </td>
        </ng-container>


        <ng-container matColumnDef="statusName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="header-cell">Status</th>
          <td mat-cell *matCellDef="let row" class="td-row" >
            <ng-container *ngIf="!row.isEditing">
              {{ row.statusName }}
            </ng-container>
            <ng-container *ngIf=" row.isEditing">
              <mat-form-field class="full-width" appearance="outline">
                <mat-label>Status</mat-label>
                <mat-select placeholder="Select the Status" [(ngModel)]="row.statusId">
                  <mat-option *ngFor="let status of statusList" [value]="status.statusId">
                    {{ status.statusName }}
                  </mat-option>
                </mat-select>
              </mat-form-field>

            </ng-container>
          </td>
        </ng-container>


        <ng-container matColumnDef="band">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="header-cell"> Band </th>
          <td mat-cell *matCellDef="let row" class="td-row" >
            <ng-container *ngIf=" !row.isEditing">
               {{row.band}}
              </ng-container>
            <ng-container  *ngIf=" row.isEditing">
              <mat-form-field appearance="outline">
                <mat-label>Band</mat-label>
                <input matInput [(ngModel)]="row.band" type="text">
              </mat-form-field>

            </ng-container>

           </td>
        </ng-container>

        <ng-container matColumnDef="projectId">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="header-cell"> Project Id </th>
          <td mat-cell *matCellDef="let row" class="td-row"  >
            <ng-container *ngIf=" !row.isEditing">  {{row.projectId}}</ng-container>
            <ng-container  *ngIf=" row.isEditing">
              <mat-form-field appearance="outline">
                <mat-label>Project Id</mat-label>
                <input matInput [(ngModel)]="row.projectId" type="text">
              </mat-form-field>
            </ng-container>

          </td>
        </ng-container>

        <ng-container matColumnDef="accountManager">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="header-cell"> Account Manager </th>
          <td mat-cell *matCellDef="let row" class="td-row" >
            <ng-container *ngIf=" !row.isEditing">  {{row.accountManager}}</ng-container>
            <ng-container  *ngIf=" row.isEditing">
              <mat-form-field appearance="outline">
                <mat-label> Account Manager</mat-label>
                <input matInput [(ngModel)]="row.accountManager" type="text">
              </mat-form-field>

            </ng-container>
          </td>
        </ng-container>

        <ng-container matColumnDef="externalResource">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="header-cell"> External Resource </th>
          <td mat-cell *matCellDef="let row" class="td-row" >
            <ng-container  *ngIf=" !row.isEditing">  {{row.externalResource}}</ng-container>
            <ng-container  *ngIf=" row.isEditing">
              <mat-form-field appearance="outline">
                <mat-label> External Resource</mat-label>
                <input matInput [(ngModel)]="row.externalResource" type="text">
              </mat-form-field>
            </ng-container>

             </td>
        </ng-container>

        <ng-container matColumnDef="internalResource">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="header-cell"> Internal Resource </th>
          <td mat-cell *matCellDef="let row" class="td-row">
            <ng-container *ngIf=" !row.isEditing">  {{row.internalResource}}</ng-container>
            <ng-container  *ngIf=" row.isEditing">
              <mat-form-field appearance="outline">
                <mat-label>Internal Resource </mat-label>
                <input matInput [(ngModel)]="row.internalResource" type="text">
              </mat-form-field>

            </ng-container>

          </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="header-cell">Actions</th>
          <td mat-cell *matCellDef="let row" class="td-row">
            <div class="action-buttons">

              <ng-container *ngIf="!row.isEditing">
                <button mat-icon-button color="primary" (click)="updateSODetails(row)" matTooltip="Update SO detail/s" matTooltipPosition="left">
                  <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button color="warn" (click)="deleteDetails(row)" matTooltip="Delete SO" matTooltipPosition="right">
                  <mat-icon>delete</mat-icon>
                </button>
              </ng-container>
              <ng-container  *ngIf="row.isEditing">
                <button mat-icon-button class="save" color="primary" (click)="saveSODetails(row)" matTooltip="Save Changes" matTooltipPosition="left">
                  <mat-icon>done</mat-icon>
                </button>
                 <button mat-icon-button class="cancel" color="warn" (click)="cancelEdit(row)" matTooltip="Cancel Edit" matTooltipPosition="right">
                  <mat-icon>cancel</mat-icon>
                </button>
              </ng-container>

            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No Records Matching the Filter Input</td>
        </tr>
      </table>

  </div>
  <div class="filter-pagination">
      <mat-paginator [pageSizeOptions]="[5, 10, 25,50,100]" aria-label="Select page of users" ></mat-paginator>
  </div>



